on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

on fs
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /devlog 0700 root root
    mount ext4 /dev/block/mmcblk0p25 /system wait ro barrier=1
    mount ext4 /dev/block/mmcblk0p26 /data wait noatime nosuid nodev barrier=1 noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p27 /cache wait noatime nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p28 /devlog wait noatime nosuid nodev barrier=1


    mkdir /data/misc 1771 system misc
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # bluetooth MAC address programming
    chown bluetooth bluetooth /sys/module/board_vision/parameters/bdaddr
    setprop ro.bt.bdaddr_path /sys/module/board_vision/parameters/bdaddr
    # bluetooth car dock pin
    chown system system /sys/class/switch/dock/bt_pin

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/color
    chown system system /sys/class/leds/jogball-backlight/period
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness

    # flashlight
    chown system camera /sys/class/leds/flashlight/brightness
    chmod 0660          /sys/class/leds/flashlight/brightness

    #set radio_feedback permissions
    chown radio radio /dev/radio_feedback
    chmod 0660 /dev/radio_feedback

    # Increase readahead buffers on MMC devices
    write /sys/block/mmcblk0/bdi/read_ahead_kb 1024
    write /sys/block/mmcblk1/bdi/read_ahead_kb 1024

# Load kineto_gan.ko while booting
#    insmod /system/lib/modules/kineto_gan.ko

# Enable low memory killer to check file pages
    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,5120,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL eth0
    disabled
    oneshot

# compass/accelerometer daemon
service akmd /system/bin/akmd
    user compass
    group compass misc input

# bugreport is triggered by the KEY_VOLUMEUP and BTN_MOUSE keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 272

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /etc/firmware/bcm4329.hcd /dev/ttyHS0
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service udhcpd /system/bin/udhcpd
    disabled
    oneshot

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p13 /dev/block/mmcblk0p14
    user root

service htc_ebdlogd /system/bin/htc_ebdlogd -s -k -P 7
    user root
        disabled
    oneshot

service htc_ebdlogd_rel /system/bin/htc_ebdlogd -s -k
    user root
        disabled
    oneshot

on property:ro.build.tags=test-keys
    start htc_ebdlogd

on property:ro.build.tags=release-keys
    start htc_ebdlogd_rel

