/dev/system_bus_freq    0660    system      system
/dev/cpu_dma_latency    0660    system      system

/dev/msm_vidc_reg       0660    system      audio
/dev/msm_vidc_dec       0660    system      audio
/dev/msm_vidc_enc       0660    system      audio

/dev/msm_rotator        0660    system      graphics
/dev/gemini0            0660    system      system

/dev/akm8975_daemon     0640    compass     system
/dev/akm8975_aot        0640    compass     system

/dev/htc-acdb           0660    system      audio
/dev/msm_audio_dev_ctrl 0660    system      audio
/dev/msm_acdb           0660    system      audio
/dev/msm_pcm_lp_dec     0660    system      audio

